* {
  margin: 0;
  box-sizing: border-box;
  box-shadow: 0;
  font-family: 'Poppins', sans-serif;
}
.App {
  display: flex;
  flex-direction: column;
}

.btns {
  display: inline;
  margin: auto;
  padding: auto;
}
.btn {
  width: fit-content;
  margin: 0.2rem;
}
.content {
  padding-top: 1rem;
  margin: auto;
  max-width: 400px;
  text-align: center;
}

a {
  text-decoration: none;
  color: rgb(4, 82, 128);
}
